<template>
    <div id="app">
        <Header/>
        <router-view class="route"/>
        <footer v-if="$route.name != '404'" class="footer has-text-centered">
            &copy;2020 Lokmy
        </footer>
    </div>
</template>

<script>
import Header from './components/Header'
export default {
  name: 'App',
  components: {
      Header
  },
  beforeCreate() {
    this.$store.dispatch("user/set", this.$cookie.get('userConnected'));
    this.$store.dispatch("user/getSearch");
  },
}
</script>

<style lang="scss">
    // Import Bulma's core
    @import "~bulma/sass/utilities/_all";
    

    // Set your colors
    $primary: #1c7207;
    $primary-invert: findColorInvert($primary);

    // Setup $colors to use as bulma classes (e.g. 'is-twitter')
    $colors: (
        "white": ($white, $dark),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
    );
    //images
    $dimensions: 16 24 32 48 64 96 128 144 256;

    // Import Bulma and Buefy styles
    @import "~bulma";
    @import "~buefy/src/scss/buefy";
    @import "~bulma-switch/dist/css/bulma-switch";

    @font-face {
        font-family: "Roboto";
        src: url("~@/assets/fonts/Roboto.ttf");
    }

    @font-face {
        font-family: "Coolvetica";
        src: url("~@/assets/fonts/coolvetica.ttf");
    }

    @font-face {
        font-family: "BebasNeue";
        src: url("~@/assets/fonts/BebasNeue.ttf");
    }

    html, body{
        overflow: auto;
        font-family: "Roboto";
    }

    .isBebas{
        font-family: "BebasNeue";
    }

    .isCoolvetica{
        font-family: "Coolvetica";
    }

    .is-vertical-centered {
        display: flex;
        align-items: center;
    }

    .footer{
        color:#870d0c;
        padding: 4.5rem 1.5rem 1.5rem;
        background-color: transparent;
        background-image: url("~@/assets/images/sieges.png");
        background-size: auto 100%;
        background-position: center;
    } 

    .has-image-centered {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .mx-auto{
        margin-right: auto;
        margin-left: auto;
    }

    #app{
        background-image: url("~@/assets/images/wall.jpg");
        background-size: auto;
        background-position: unset;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        color:$light;

        //border:0.5rem solid $primary;
    }

    .route{
        flex: 1;
    }

    .py-3{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .loading-overlay .loading-background{
        background: transparent!important;
    }

    #main-content .columns{
        max-width: fit-content;
        margin:auto;
    }
    .section {
        padding: 1.5rem;
    }
</style>

