<template>
    <section class="has-text-centered">
        <h1 class="title has-text-white">Erreur 404</h1>
        <h2 class="subtitle has-text-white">Vous n'avez pas trouvé la page mais vous avez trouvé le lézard.</h2>
        <img src="@/assets/images/404.png"/>
        <div class="buttons is-centered">
        <router-link to="/" class="button is-primary">Fuir vers l'accueil</router-link>
      </div>
    </section>
</template>

<style lang="scss" scoped>
    img{
        width: 25%;
    }
</style>