<template>
  <section id="admin">
    <Title msg="Administration" />
    <article v-if="day=='0'" id="main-content" class="section ">
      <div class="field">
        <input id="switch" type="checkbox" name="switch" class="switch" :checked="isSearchAvailable" @click="changeState">
        <label for="switch">Propositions</label>
      </div>
      <div class="columns is-multiline is-centered box">
        <div v-for="(i) in 7" v-bind:key="i" class="column">
          <h2 class="title is-6 has-text-centered is-table-item has-text-weight-bold is-Bebas">{{days[i-1]}}</h2>
          <div class="is-table-item-invert poster-container" v-if="films.length > 0">
            <div class="clickable-poster">
              <Poster :filmId="films.find( film => film.day == i).id" />
              <div class="overlay has-background-dark">
                <div class="is-block buttons is-centered film-button">
                  <router-link :to="`/admin/${i}`" class="button is-info">
                    <b-icon icon="pen" />
                  </router-link>
                  <button type="button" class="button is-warning" @click="chooseFromButton({id: 'unknow', title: '', day: i})">
                    <b-icon icon="question"/>
                  </button>
                  <button type="button" class="button is-danger" @click="chooseFromButton({id: 'none', title: '', day: i})">
                    <b-icon icon="times" />
                  </button>
                </div>
              </div>
            </div>
            <h2 class="subtitle is-6 has-text-centered">{{films.find( film => film.day == i).title}}</h2>
          </div>
        </div>
      </div>
    </article>
    <Selector v-else @sendFilm="chooseFromSelector" icon="check"/>
  </section>
</template>
<script>
import Title from "./Title";
import Poster from "./Poster";
import Selector from "./Selector";
import moment from "moment";

export default {
  name: "Administration",
  components: {
    Title,
    Poster,
    Selector,
  },
  data() {
    return {
      days: [
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
        "Dimanche",
      ],
    };
  },
  props: {
        day:{
            type: String,
            default: '0'
        }        
  },

  beforeCreate() {
    this.$store.dispatch("films/getChosen");
  },
  computed: {
    films() {
      return this.$store.state.films.filmsChoisis;
    },
    isSearchAvailable() {
      return this.$store.state.user.isSearchAvailable;
    },
    historyWeek(){
        let currentDay = moment();
        if (currentDay.isoWeekday() == 7) currentDay.add(1, 'days');
        let current = currentDay.clone().startOf("isoWeek");
        let endDate = currentDay.clone().endOf("isoWeek");
        let week = []

        while (current.isBefore(endDate)) {
            week.push(current.format('YYYY-MM-DD'));
            current.add(1, 'days');
        }
        return week;
    }
  },
  methods: {
    chooseFromSelector(film) {
      let week = this.historyWeek;
      let date = week[parseInt(this.day)-1];
      console.log(date)
      this.$store.dispatch("films/addToHistory", {film: film, date: date})
      film.day = parseInt(this.day);
      this.choose(film);
      this.$router.push({ name: "admin"}).catch(() => {});
    },
    chooseFromButton(film) {
      let week = this.historyWeek;
      let date = week[parseInt(film.day)-1];
      console.log(date)
      this.$store.dispatch("films/removeFromHistory", {date: date})
      this.choose(film);
    },
    choose(film) {
      this.$store.dispatch("films/choose", film);
    },
    changeState(){
        this.$store.dispatch("user/setSearch", !this.isSearchAvailable);
    }
  },
};
</script>

<style lang="scss" scoped>
#admin {
  display: flex;
  flex-flow: column;
}

#main-content {
  flex: 1;
}

.is-table-item {
  padding: 1.5rem;
  overflow-wrap: normal;
  text-transform: uppercase;
}

.column {
  flex-basis: inherit;
  flex-grow: inherit;
  padding: 0.25rem;
}

.column .title {
  margin-bottom: 0.5rem;
}

.column:nth-child(even) .is-table-item,
.column:nth-child(odd) .is-table-item-invert {
  background-color: hsl(0, 0%, 71%);
}

.column:nth-child(odd) .is-table-item,
.column:nth-child(even) .is-table-item-invert {
  background-color: whitesmoke;
}

.poster-container {
  padding: 3px;
  height: calc(100% - 4.5rem - 1px);
  width: 132px;
  font-size: 0;
  margin: auto;
}

.clickable-poster {
  position: relative;
}

.clickable-poster .film-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.clickable-poster .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  max-width: 132px;
  margin: auto;
}
.clickable-poster .poster {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.clickable-poster:hover .overlay {
  opacity: 0.8;
}
</style>