<template>
    <section id="event">
        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fbC9jx1VMJw?autoplay=1" frameborder="0" allow="autoplay" allowfullscreen></iframe>
        </div>
        <!--h2 class="title is-2 has-text-centered has-text-warning">Questions pour un lézard</h2>
        
        <div v-if="score == null">
            <div v-if="!started">
                <p>À l'occasion du 100<sup>ème</sup> film diffusé au cinéma Pas de Lézard, l'équipe vous a concocté un petit quizz de 20 questions sous forme de QCM.</p>
                <p>Vous avez jusqu'à 25 secondes pour répondre à chacune des questions. Si votre score est suffisant, vous pourrez obtenir un rôle spécifique à l'événement sur le Discord !</p>
                <p>L'événement est disponible toute la semaine du 8 au 14 février.</p>
                <button type="button" id="startingButton" class="is-large button is-primary is-block mx-auto" @click="startQuizz">Commencer</button>
            </div>
            <div v-else>
                <form>
                    <h3 class="title is-3 has-text-centered">Question {{step+1}} sur {{questions.length}} :</h3>
                    <h4 class="title is-6 has-right has-text-danger timer">Temps restant : {{tempsRestant}}s</h4>
                    <div class="field">
                        <h4 class="title is-5">{{questions[step].question}}</h4>
                        
                        <b-radio v-model="replies[step]"
                            v-for="(choice,index) in questions[step].choices"
                            v-bind:key="index"
                            :name="questions[step].question"
                            :native-value="String.fromCharCode(97 + index)">
                            {{String.fromCharCode(97 + index)}}. {{choice}}
                        </b-radio>

                    </div>
                    
                    <div class="control">
                        <button type="button" class="button is-primary" :disabled="replies[step]==''" @click="(step+1==questions.length)?endQuizz():nextStep();">{{step+1==questions.length?'Terminer':'Suivant'}}</button>
                    </div>

                    <img class="julien" v-if="step%5 == 0" src="@/assets/images/event/julien1.png"/>
                    <img class="julien" v-else-if="step%5 == 1" src="@/assets/images/event/julien2.png"/>
                    <img class="julien" v-else-if="step%5 == 2" src="@/assets/images/event/julien3.png"/>
                    <img class="julien" v-else-if="step%5 == 3" src="@/assets/images/event/julien4.png"/>
                    <img class="julien" v-else-if="step%5 == 4" src="@/assets/images/event/julien5.png"/>
                </form>
            </div>
        </div>
        <div v-else>
            <h3 class="title is-3 has-text-centered">Bravo tu as fini le quizz !</h3>
            <img class="julien2" src="@/assets/images/event/julien6.png"/>
            <h4 class="title is-5 has-text-weight-normal">Ton score est de <b>{{score}}/{{questions.length}}</b> et tu as mis <b>{{totalTemps}} secondes</b> !</h4>
            <div class="result">
                <p>Tu es un 
                    <span v-if="(score/questions.length == 0)">
                        poisson.<br>
                        <img src="@/assets/images/event/poisson.png"/><br>
                        Tu es beau mais tu n'as aucun rapport avec les lézards...
                    </span>
                    <span v-else-if="(score/questions.length < 0.25)">
                        œuf de lézard.<br>
                        <img src="@/assets/images/event/oeuf.png"/><br>
                        Tu devrais venir un peu plus souvent au cinéma, tu pourrais éclore avec les sièges bien chauds !
                    </span>
                    <span v-else-if="(score/questions.length < 0.5)">
                        bébé de lézard.<br>
                        <img src="@/assets/images/event/bb.png"/><br>
                        Tu es tout pipou mais il s'agirait de grandir en allant plus souvent au cinéma pour manger des pop-corn !
                    </span>
                    <span v-else-if="(score/questions.length < 0.75)">
                        lézard.<br>
                        <img src="@/assets/images/event/lezard.png"/><br>
                        Tu viens régulièrement au cinéma mais pas suffisamment pour gagner, viens plus souvent...
                    </span>
                    <span v-else-if="(score/questions.length < 1)">
                        diplodocus.<br>
                        <img src="@/assets/images/event/diplodocus.png"/><br>
                        Quel gros lézard tu es ! Tu as bien mérité ta récompense...
                    </span>
                    <span v-else>
                        aguedosaure.<br>
                        <img src="@/assets/images/event/aguedosaure.png"/><br>
                        Incroyable tu as fait un sans faute, j'espère que tu n'as pas triché ! Viens donc récupérer ta récompense...
                    </span>
                </p>
                <p>N'hésite pas à partager ton score sur <a target="_blank" href="https://discord.gg/Teloru">DISCORD</a> !</p>
            </div>

            <div v-if="score/questions.length >= 0.75">
                <i class="has-text-danger">Copie le message ci-dessous et envoie-le en message privé au méchant modo pour débloquer un rôle spécial.</i>
                <p class="spoiler">J'aime beaucoup le clafoutis aux cerises.</p>
            </div>
        </div-->
    </section>
</template>
<script>
//import saltedMd5 from "salted-md5";

export default {
  name: "Event",
  /*methods: {
    startQuizz(){
        this.started = true;
        this.demarrerMinuteur();
    },
    nextStep(){
        this.arretTemps();
        this.step++;
        this.demarrerMinuteur();
    },
    endQuizz(){
        this.arretTemps();
        let replies = []
        this.replies.map((reply, index) => { replies.push(saltedMd5(reply, index)) });
        replies = replies.join('');
        this.$cookie.set('eventAnswer', replies, '7d');
        this.$cookie.set('eventTimer', this.totalTemps, '7d');
        this.calcScore(replies);
    },
    calcScore(replies){
        let answers = this.answers.match(/.{32}/g);
        replies = replies.match(/.{32}/g);
        let score = 0;
        replies.forEach((reply,index) => {
            
            console.log(index)
            if(index == 19){
                console.log(reply != answers[index])
                if(reply != answers[index]) score++;
            }
            else{
                console.log(answers[index])
                if(reply == answers[index]) score++;
            }
        });
        this.score = score;
    },
    demarrerMinuteur() {
        this.temps = new Date(new Date().getTime() + 25*1000);
        this.tempsPasse = new Date().getTime();
        this.intervalleTemps = setInterval(() => (this.tempsPasse = new Date().getTime()), 1000);
    },
    arretTemps(){
        this.totalTemps += (25 - this.tempsRestant);
        clearInterval(this.intervalleTemps);
    }

  },
  mounted() {
    this.replies = Array.from({length:this.questions.length}, () => '');
    let replies = this.$cookie.get('eventAnswer');
    if(replies){
        this.totalTemps = this.$cookie.get('eventTimer');
        this.calcScore(replies);
    }
  },
  computed: {
    tempsRestant() {
        return Math.round((this.temps - this.tempsPasse)/1000);
    },
  },
  data() {
    return {
      started: false,
      totalTemps: 0,
      temps: null,
      tempsPasse: null,
      intervalleTemps: null,
      score: null,
      step: 0, 
      questions: [
          {
            question:'PARASITE : Qui est le premier de la famille à être engagé par les Park ?',
            choices:[
                'Le fils',
                'La fille',
                'La mère',
                'Le père'
            ]
          },
          {
            question:'LÉON : Que boit Léon pour rester en forme ?',
            choices:[
                'Du whisky',
                'Du café',
                'Du lait',
                'Du ketchup'
            ]
          },
          {
            question:'LE VOYAGE DE CHIHIRO : Quel nom prend Chihiro lorsque Yubaba la renomme ?',
            choices:[
                'Sun',
                'Sen',
                'Sin',
                'San'
            ]
          },
          {
            question:'CUBE : Qui est le survivant du Cube',
            choices:[
                'Kazan le génie autiste',
                'Quentin le policier fifou dingo',
                'Leaven l’étudiante en mathématiques',
                'Aguedo'
            ]
          },
          {
            question:'LE PRESTIGE : Comment le protagoniste perd contre l’autre magicien ?',
            choices:[
                'Il est moins fort en magie lol',
                'Son adversaire lui donne une mauvaise réputation',
                'La femme qu’il a volé à son adversaire l’a trahi',
                'Il croit en la mort de son adversaire alors qu’il s’était cloné'
            ]
          },
          {
            question:'FIGHT CLUB : Quel est la règle numéro une du Fight Club ?',
            choices:[
                'On ne met pas les céréales après le lait',
                'Il est interdit de parler du Fight Club',
                'Il est interdit de manger Quick',
                'Il est interdit de se battre en dehors du Fight Club'
            ]
          },
          {
            question:'Pour quel film l’équipe du cinéma s’est excusée ?',
            choices:[
                'Borat',
                'Paprika',
                'Austin Powers',
                'Sharknado'
            ]
          },
          {
            question:'Quel film n’a pas encore été diffusé au cinéma ?',
            choices:[
                'How High',
                'Shining',
                'Detective Pikachu',
                'Megamind'
            ]
          },
          {
            question:'HARRY POTTER : Comment s’appelle le bébé dragon d’Hagrid ?',
            choices:[
                'Homer',
                'Albert',
                'Norbert',
                'Jérôme'
            ]
          },
          {
            question:'TENACIOUS D : Avec quoi Jack Black désactive-t-il les lasers ?',
            choices:[
                'Avec son doigt',
                'En hackant le terminal',
                'En produisant un court-circuit',
                'Avec sa queue (désolé doudou si t’es là)'
            ]
          },
          {
            question:'BRICE DE NICE : Comment sont les pieds de Marius de Fréjus ?',
            choices:[
                'Ils sont très beaux',
                'Ils sont en forme de gros orteils',
                'Ils sont très poilus',
                'Ils sont bleus'
            ]
          },
          {
            question:'HARRY POTTER : Qui apprend le sort « Expecto Patronum » a Harry ?',
            choices:[
                'Professeur Dumbledore',
                'Professeur Rogue',
                'Professeur Lupin',
                'Hermione'
            ]
          },
          {
            question:'Quel film est recommandé par le Gérant du Ciné pour une soirée entre amoureux ?',
            choices:[
                'Les Simpson le Film',
                'Love Actually',
                'Shrek 2',
                'L’étrange Noël de Monsieur Jack'
            ]
          },
          {
            question:'AUSTIN POWERS : Que recherche Austin Powers dans le deuxième opus ?',
            choices:[
                'Son slip fétiche',
                'Son Mojo',
                'La recette de confiture de sa grand-mère',
                'Sa perruque'
            ]
          },
          {
            question:'JOHN WICK : Quel est le surnom de John Wick ?',
            choices:[
                'Babayaga',
                'Galagada',
                'Mamasita',
                'Smogogo'
            ]
          },
          {
            question:'INGLOURIOUS BASTERDS : Qui joue le rôle du lieutenant Aldo Raine ?',
            choices:[
                'Tom Hardy',
                'Jon Bernthal',
                'Brad Pitt',
                'Morgan Freeman'
            ]
          },
          {
            question:'MONSTRES ET COMPAGNIE : Quelle énergie récoltent les employés de la Monstres et Compagnie à la fin du film ?',
            choices:[
                'Les cris des enfants',
                'De l’énergie solaire',
                'Les rires des enfants',
                'Du pétrole pour être très riche'
            ]
          },
          {
            question:'Laquelle de ces comédies est passée au cinéma ?',
            choices:[
                'West Side Story',
                'La La Land',
                'Mamma Mia',
                'High School Musical 1'
            ]
          },
          {
            question:'Quel film a réalisé le record d’audience ?',
            choices:[
                'Cars',
                'Jurassic Park',
                'Django Unchained',
                'Ready Player One'
            ]
          },
          {
            question:'Qui est le pire client du cinéma ?',
            choices:[
                'AGUEDO',
                'AGUEDO',
                'AGUEDO',
                'Quickos'
            ]
          },
      ],
      replies: [],
      answers: '5640486daa6880d667b76c958820361aa9f7e97965d6cf799a529102a973b8b9fbfba2e45c2045dc5cab22a5afe83d9d9d607a663f3e9b0a90c3c8d4426640dcae11976937537e4c1206237dea0353312283335d8d12b21001439091e74f5028f74dd50cfec0f8549406fee6191d2f8d4d3a21d8c684c09c19b93be911827fd57cd1d2b54911b95b06b1c423bd551f2f87de66479aea0306221cb868869748ece324ad8ed03e3a7b3b98cf21cfdaadbb99c91b979d234058c005ea53bf19594d5c385d6d334ea0a9301bd28ea067aba79882d05cb24f7fd0d1cd0dcd1b86a8a12169184650ee32062f115ec35faf6c9bd4e99aaa1f75eb02a66f89dc95ca6e3ce77aa1b8a24da9674c86f83bb588777ba846eba5b36345d496bf7693a549ef103ad5c30e764b59132ff02a0164fccbecbf7d43b35f7b89d3520b41cf836874ed'
    };
  },
  watch: {
    tempsRestant(t) {
        if (t <= 0) {
            this.tempsPasse = this.temps;
            if(this.step+1 == this.questions.length){
                this.endQuizz();
            } else {
                this.nextStep();
            }
        }
    }
  },*/

}
</script>
<style scoped>
/*#event{
    background-color:#fefefe;
    width: 60%;
    margin:auto;
    color:#1e1e1e;
    padding:1.25rem;
    border-radius:3rem;
    position:relative;
}
h2{
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}
.spoiler {
  transition: color 0.5s, background 0.5s;
  padding:0.5rem;
  width:fit-content;
  margin:auto;
  border:1px solid hsla(0,0%,86%,.5);
  border-radius: 4px;
}
.spoiler:not(:hover){
  color: transparent;
}
.spoiler:not(:hover){
    background: linear-gradient(90deg,#dbdbdb 25%,hsla(0,0%,86%,.5) 50%,#dbdbdb 75%);
    background-size: 400% 100%;
}
p{
    margin-bottom:0.75rem;
}
.result img{
    margin:auto;
    margin: auto;
    display: block;
    margin-top:0.75rem;
}
.b-radio.radio {
    display: flex;
    margin-bottom: 0.75rem;
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
    width: fit-content;
}
form button{
    z-index: 2;
}
.timer{
    position: absolute;
    top: 0.25rem;
    right: 2.25rem;
}
.julien{
    position:absolute;
    bottom: 0;
    right: 2.25rem;
    width: 200px;
    height: auto;
}
.julien2{
    margin:auto;
    display: block;
    width: 200px;
    height: auto;
    border-radius: 100%;
}
#startingButton{
    margin-top:2rem;
}*/

.iframe-container{
    width:100%;
    margin: 1.25rem 0;
}
#event iframe {
  margin: auto;
  display: block;
  height:360px;
}
</style>