<template>
  <header class="header hero is-medium">
    <div class="hero-body">
      <div class="container" @click="goHome">
        <h1 class="title neon">Pas de Lézard</h1>
        <figure class="image is-256x256 has-image-centered">
          <img src="@/assets/images/logoPDL.png"/>
        </figure>
      </div>
    </div>
    
    <nav class="buttons">
        <router-link to="/rules" class="rules-button button is-danger">Règlement</router-link>
        <div>
            <router-link to="/history" class="button is-info">Historique</router-link>
            <router-link to="/suggest" class="button is-primary">Propositions</router-link>
            <router-link to="/admin" class="button is-dark">Administration</router-link>
            <button v-if="isConnected" type="button" class="button is-warning" @click="logout">Se déconnecter</button>
        </div>
    </nav>

    <!--router-link to="/event" class="event"><img src="@/assets/images/event/Luca.png"/></router-link-->

  </header>
</template>
<script>
import CircleType from "circletype";

export default {
  name: "Header",
  methods: {
    loadNeon() {
      new CircleType(document.getElementsByClassName("neon")[0]).radius(384);
    },
    goHome() {
        this.$router.push({ name: "main"}).catch(() => {});
    },
    logout() {
      this.$cookie.delete("userConnected");
      this.$store.dispatch("user/set", this.$cookie.get('userConnected'));
      this.goHome();
    }
  },
  mounted() {
    this.loadNeon();
  },
  computed: {
    isConnected() {
      return this.$store.state.user.isConnected;
    },
  }
};
</script>

<style lang="scss" scoped>
.event{
    position: fixed;
    bottom: -7px;
    left:5px;
    z-index:34;
}

.event img{
    width:125px;
    height: auto;
}

.buttons{
    position: absolute;
    display: flex;
    width: calc(100% - 1.5rem);
    margin: 0.75rem;
    justify-content: space-between;
}

.rules-button{
    animation: warning 1500ms infinite;
}
.container{
    max-width: fit-content;
    cursor: pointer;
}

figure.image {
  height: fit-content;
}

img {
  animation: neon-white 10s ease-in-out infinite alternate;
}

.hero.is-medium .hero-body {
  padding-bottom: 0.75rem;
  padding-top: 2.5rem;
}

.neon {
  font-family: "Vibur", cursive;
  text-align: center;
  animation: neon-yellow 0.08s ease-in-out infinite alternate;
  color: #fff300;
  font-size: 3rem;
  margin-bottom: -2rem !important;
}

@keyframes neon-yellow {
  from {
    text-shadow: 0 0 6px rgba(228, 225, 202, 0.92),
      0 0 30px rgba(228, 225, 202, 0.34), 0 0 12px rgba(255, 200, 0, 0.52),
      0 0 21px rgba(255, 200, 0, 0.92), 0 0 34px rgba(255, 200, 0, 0.78),
      0 0 54px rgba(255, 200, 0, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(228, 225, 202, 0.98),
      0 0 30px rgba(228, 225, 202, 0.42), 0 0 12px rgba(255, 200, 0, 0.58),
      0 0 22px rgba(255, 200, 0, 0.84), 0 0 38px rgba(255, 200, 0, 0.88),
      0 0 60px rgba(255, 200, 0, 1);
  }
}

@keyframes neon-white {
  from {
    filter: drop-shadow(0 0 54px rgba(255, 255, 255, 0.52));
  }
  to {
    filter: drop-shadow(0 0 60px rgba(255, 255, 255, 1));
  }
}

@keyframes warning {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
</style>