<template>
  <section id="historique">
    <Title msg="Historique" :hasDate="false"/>
    <article id="main-content" class="section ">
            <div v-for="film in films" v-bind:key="film.date" class="cardWrap">
                <div class="card cardLeft">
                    <h1><span>Cinema</span> Pas de Lézard</h1>
                    <div class="film">
                        <div class="filminfo">
                            <div class="filmtitle">
                                <span>Film</span>
                                <h2>{{film.title}}</h2>
                            </div>
                            <div>
                                <div class="seat">
                                    <span>siège</span>
                                    <h2>{{IDtoPlaceID(film.title)}}</h2>
                                </div>
                                <div class="date">
                                    <span>date</span>
                                    <h2>{{convertDate(film.date)}}</h2>
                                </div>
                                <div class="time">
                                    <span>heure</span>
                                    <h2>{{getHour(film.date)}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="poster-container" v-if="films.length > 0">
                            <Poster :filmId="film.id" />
                        </div>
                    </div>
                </div>
                <div class="card cardRight is-hidden-mobile">
                    <div class="logo">
                        <img src="@/assets/images/logoPDL.png"/>
                    </div>
                    <div class="filmnumber">
                        <h3>{{IDtoPlaceID(film.title)}}</h3>
                        <span>Siège</span>
                    </div>
                    <div class="barcode"></div>
                </div>
            </div>
    </article>
  </section>
</template>
<script>
import Title from "./Title";
import Poster from "./Poster";
import moment from "moment";

export default {
  name: "Historique",
  components: {
    Title,
    Poster,
  },
  beforeCreate() {
    this.$store.dispatch("films/getHistory");
  },
  methods:{
      convertDate(date){
        return moment(date).format('DD/MM/YYYY')
      },

      getHour(date){
        if(moment(date).isoWeekday() == 2 || moment(date).isoWeekday() == 5)
          return '21:10';
        else
          return '22:00';
      },

      hashID: function(str) {
        let hash = 0;
        let length = str.length;
        let i = 0;
        
        if ( length > 0 )
            while (i < length)
                hash = (hash << 5) - hash + str.charCodeAt(i++) | 0;
        return hash;
    },

      IDtoPlaceID: function(str){
        return (Math.abs(this.hashID(str))%63) + 1;
      },

  },
  computed: {
    films() {
      let films = this.$store.state.films.historique;
      return films.filter(film => moment(film.date).isBefore(moment(), 'day'))
    },
  },
};
</script>

<style lang="scss" scoped>
#historique {
  display: flex;
  flex-flow: column;
}

#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-container {
    flex-basis: 20%;
}

.cardWrap:not(:last-child) {
  margin-bottom:2rem;
}

.card {
  background: linear-gradient(to bottom, #1c7207 0%, #1c7207 22%, #ecedef 22%, #ecedef 100%);
  height: 12rem;
  float: left;
  position: relative;
  padding: 1rem;
}

.cardLeft {
  border-radius: 8px;
  width: 25rem;
  max-width: 95vw;
}

.cardRight {
  width: 7.4rem;
  border-left: 0.18rem dashed #0e0e0e;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cardRight:before, .cardRight:after {
  content: "";
  position: absolute;
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: #0e0e0e;
  border-radius: 50%;
  left: -0.5rem;
}
.cardRight:before {
  top: -0.4rem;
}
.cardRight:after {
  bottom: -0.4rem;
}

.card h1 {
  font-size: 1.1rem;
  margin: -0.4rem 0 0.4rem 0;
  color: #fff300;
  font-weight: bold;
}
.card h1 span {
  font-weight: normal;
}

.filmtitle, .name, .seat, .date, .time {
  text-transform: uppercase;
  font-weight: normal;
}
.filmtitle h2, .name h2, .seat h2, .date h2, .time h2 {
  font-size: 0.9rem;
  color: #525252;
  margin: 0;
}
.filmtitle span, .name span, .seat span, .date span, .time span {
  font-size: 0.7rem;
  color: #a2aeae;
}

.filmtitle {
  margin: 0;
}

.name, .seat {
  margin: 0.7rem 0 0 0;
}

.date, .time {
  margin: 0.7rem 0 0 1rem;
}

.seat, .date, .time {
  float: left;
}

.logo {
  position: relative;
  height: 1.5rem;
  margin: 0 auto;
  z-index: 1;
}

.logo img{

    position: relative;
    top: -0.9rem;
    left: 0.5rem;
    height: 2.5rem;
    width: auto;
}

.filmnumber {
  text-align: center;
  text-transform: uppercase;
}
.filmnumber h3 {
  font-weight: bold;
  color: #1c7207;
  margin: 0.4rem 0 -0.7rem 0;
  font-size: 2.5rem;
}
.filmnumber span {
  display: block;
  color: #a2aeae;
}

.barcode {
  height: 2rem;
  width: 0;
  margin: 0.4rem 0 0 0;
  box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
}

.film {
    display: flex;
    align-items: center;
    height: calc( 100% - 0.7rem);
}

.filminfo {
    flex-basis: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
</style>