<template>
  <section class="login">
    <div class="container">
      <div class="columns is-centered is-marginless">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action class="box" v-on:submit.prevent="">
            <div class="field">
              <label for class="label">Nom de compte</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Pseudal" class="input" required v-model="username" />
                <span class="icon is-small is-left">
                  <b-icon icon="user" />
                </span>
              </div>
            </div>
            <div class="field">
              <label for class="label">Mot de passe</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required v-model="pwd" />
                <span class="icon is-small is-left">
                  <b-icon icon="lock" />
                </span>
              </div>
            </div>
            <div class="notification is-danger" v-if="isIncorrect" >
                <p>Le nom d'utilisateur ou le mot de passe sont incorrects</p>
            </div>
            <div class="field">
              <button class="button is-primary" @click="validate">Connexion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import bcrypt from "bcryptjs";

export default {
  name: "Login",
  data() {
    return {
        username:"",
        pwd:"",
        log:{username:'$2a$10$3JfTdcEJIEVyNDf1XKIJo.iXhaTqezqyAENjeTBuwb6wyi99.YX0S', pwd:'$2a$10$3JfTdcEJIEVyNDf1XKIJo.SfCCbpMpQCK4peqv35kfTlykGMpq0wO'},
        isIncorrect : false
    };
  },
  methods: {
    validate() {
        let isUsernameValid = bcrypt.compareSync(this.username, this.log.username);
        let isPwdValid = bcrypt.compareSync(this.pwd, this.log.pwd);

        if(isUsernameValid && isPwdValid){
            this.$cookie.set('userConnected', this.log.username);
            this.$store.dispatch("user/set", this.$cookie.get('userConnected'));
            this.$router.push('/admin').catch(() => {});
        } else {
            this.isIncorrect = true;
        }
    }
  }
};
</script>