<template>
  <section id="main">
    <Title msg="Programme de la semaine" />
    <article id="main-content" class="section">
      <div class="columns is-multiline is-centered box">
        <div v-for="i in 7" v-bind:key="i" class="column">
          <h2 class="title is-6 has-text-centered is-table-item has-text-weight-bold is-Bebas">
            {{ days[i - 1] }}
          </h2>
          <div class="is-table-item-invert poster-container"
            v-if="films.length > 0">
            <Poster :filmId="films.find((film) => film.day == i).id" />
            <h2 class="subtitle is-6 has-text-centered">
              {{ films.find((film) => film.day == i).title }}
            </h2>
          </div>
        </div>
      </div>
    </article>
  </section>
</template>
<script>
import Title from "./Title";
import Poster from "./Poster";
export default {
  name: "Main",
  components: {
    Title,
    Poster,
  },
  data() {
    return {
      days: [
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
        "Dimanche",
      ],
    };
  },
  beforeCreate() {
    this.$store.dispatch("films/getChosen");
  },
  computed: {
    films() {
      return this.$store.state.films.filmsChoisis;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#main {
  display: flex;
  flex-flow: column;
}

#main-content {
  flex: 1;
}

.is-table-item {
  padding: 1.5rem;
  overflow-wrap: normal;
  text-transform: uppercase;
}

.column {
  flex-basis: inherit;
  flex-grow: inherit;
  padding: 0.25rem;
}

.column .title {
  margin-bottom: 0.5rem;
}

.column:nth-child(even) .is-table-item,
.column:nth-child(odd) .is-table-item-invert {
  background-color: hsl(0, 0%, 71%);
}

.column:nth-child(odd) .is-table-item,
.column:nth-child(even) .is-table-item-invert {
  background-color: whitesmoke;
}

.poster-container {
  padding: 3px;
  height: calc(100% - 4.5rem - 1px);
  width: 132px;
  font-size: 0;
  margin: auto;
}
</style>
