<template>
    <img class="poster" v-bind:src="poster"/>
</template>
<script>
export default {
    title:'Poster',
    props:{
         filmId: {
            type: String,
            default : () => 'unknow'
        }
    },

    computed: {
        poster() {
            let uri = '';
            let image = require.context('@/assets/images/', false, /\.png$/)
            switch (this.filmId) {
                case 'unknow':
                    uri = image('./unknow.png');
                    break;
                case 'none':
                    uri = image('./none.png');
                    break;
                default:
                    uri = `http://image.tmdb.org/t/p/w185${this.filmId}`;
                    break;
            }
            return uri;
        }
    }
}
</script>

<style lang="scss" scoped>
    .poster {
        width: 132px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
