<template>
  <section id="rules">
    <Title msg="Règlement du cinéma" />
    <article id="main-content" class="section">
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/svgBL8Sjl1o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      </div>
    </article>
  </section>
</template>
<script>
export default {
  name: "Rules",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.iframe-container{
    width:100%;
    margin: 1.25rem 0;
}
#main-content iframe {
  margin: auto;
  display: block;
  height:360px;
}

#rules {
  display: flex;
  flex-flow: column;
}

#main-content {
  flex: 1;
}
</style>
