<template>
    <div id="selector" class="section ">
      <div class="columns is-centered is-mobile">
        <aside id="users-suggestions" class="column is-one-fifth">
            <h3 class="subtitle has-text-white">Films proposés :</h3>
            <div class="suggested box" v-for="film in films" v-bind:key="film.id">
                <div class="clickable-poster">
                    <Poster :filmId="film.id"/>
                    <div class="overlay has-background-dark" v-on:click="sendFilm(film.id, film.title)">
                        <b-icon :icon="icon" class="is-block film-button"/>
                    </div>
                </div>
                <p class="has-text-centered">{{film.title}}</p>
                <p class="has-text-centered">Votes : {{film.vote}}</p>
            </div>
        </aside>
        <article id="search" class="column is-mobile">
            <h3 class="subtitle has-text-white">Recherche :</h3>
            <form action v-on:submit.prevent="">
                <b-field>
                    <b-input placeholder="Rechercher un film..."
                        v-model="query"
                        type="search"
                        icon="search"
                        expanded
                        :disabled="!isSearchAvailable && !$cookie.get('userConnected')">
                    </b-input>
                    <p class="control">
                        <button class="button" type="submit" v-on:click="search" :disabled="!isSearchAvailable && !$cookie.get('userConnected')">Rechercher</button>
                    </p>
                </b-field>
            </form>
            <div id="results" class="container has-text-centered">
                <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
                <div class="result" v-for="film in results" v-bind:key="film.id">
                    <div v-if="film.poster_path">
                        <div class="clickable-poster">
                            <Poster :filmId="film.poster_path"/>
                            <div class="overlay has-background-dark" v-on:click="sendFilm(film.poster_path, film.title)" >
                                <b-icon :icon="icon" class="is-block film-button"/>
                            </div>
                        </div>
                        <span class="poster-title">{{film.title}}</span>
                    </div>
                </div>
                <p v-if="!isLoading && results && results.length == 0">Aucun résultat&mldr;</p>
            </div>
        </article>
      </div>
    </div>
</template>
<script>
import Poster from "./Poster";
export default {
    name: "Selector",
    components: {
        Poster,
    },
    data(){
        return{
            isLoading : false,
            results : null,
            query:''
        }
    },
    props: {
        icon:{
            type: String,
            default: 'plus'
        }        
    },
    methods: {
        search() {
            this.isLoading = true;
            this.$http
                .get("/search/multi", {
                    params:{
                        language: 'fr',
                        query: this.query,
                        include_adult: 'false'
                    }
                })
                .then(response => {
                    response.data.results.forEach(result => result.title = result.title ?? result.name);
                    this.results = response.data.results;
                })
                .catch(error => {
                    this.results = [];
                    console.log(error);
                }).finally( () => {
                    this.isLoading = false;
                });
        },
        sendFilm(id, title){
            let film = {id: id,title: title};
            this.$emit('sendFilm', film);
        }   

    },
    beforeCreate() {
        this.$store.dispatch("films/getSuggestions");
    },
    computed: {
        films(){
            return this.$store.state.films.filmsSuggeres;
        },

        isSearchAvailable() {
            return this.$store.state.user.isSearchAvailable;
        },
    }
}
</script>
<style lang="scss" scoped>
    #selector{
        flex: 1;
    }

    #users-suggestions{
        min-height: 100%;
        min-width: 132px!important;
        border-right: 1px solid white;
        position:sticky;
        top:0;
    }
    #search{
        display: flex;
        flex-flow: column;
    }

    #results{
        flex:1;
        min-width: 100%;
        margin-top:1.25rem;
    }

    .result{
        display: inline-table;
        margin: 3px;
    }

    .poster-title{
        display: inline-table;
        max-width: 132px;
        font-size: .75rem;
    }

    .clickable-poster{
        position: relative;
        cursor: pointer;
    }

    .clickable-poster .film-button{
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -75%);
        -ms-transform: translate(-50%, -75%);
        text-align: center;
        opacity:1;
        color:white !important;
    }

    .clickable-poster .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        max-width: 132px;
        margin:auto;
    }
    .clickable-poster .poster{
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .clickable-poster:hover .overlay {
        opacity: 0.8;
    }

    .suggested{
        /*padding-bottom:0.75rem;
        margin-bottom:0.75rem;
        border-bottom: 1px dashed white;*/
    }
</style>
