<template>
  <section id="suggestion">
    <Title msg="Proposition de films"/>
    <Selector @sendFilm="suggest"/>
  </section>
</template>
<script>
import Title from "./Title";
import Selector from "./Selector";
export default {
    name: "Suggestion",
    components: {
        Title,
        Selector,
    },
    methods:{
        suggest(film){
            let hasAlreadyVoted = this.$cookie.get(film.id);
            if(!hasAlreadyVoted){
                this.$store.dispatch("films/vote", film);
                this.$cookie.set(film.id,"A voté !", { expires: '1M' });
            } else {
                this.alreadyVoted();
            }
        },
        alreadyVoted() {
                this.$buefy.snackbar.open({
                    message: 'Vous avez déja voté pour ce film ce mois-ci.',
                    type: 'is-danger',
                    position: 'is-bottom-left',
                    actionText: 'Fermer',
                    indefinite: true,
                })
            }
    }
}
</script>