<template>
    <header id="heading">
        <section id="title" class=" py-3">
            <h1 class="title is-2 has-text-light has-text-centered isCoolvetica">{{msg}}</h1>
        </section>
        <aside v-if="hasDate" id="date" class="is-size-5 has-text-centered">Semaine du {{start}} au {{end}}</aside>
    </header>
</template>

<script>
import moment from "moment";

export default {
  name: 'Title',
  props:{
      msg:String,
      hasDate: {
          Type: Boolean,
          default: true
      }
  },
  data() {
    return {
      start: moment().startOf("isoWeek").format("DD/MM"),
      end: moment().endOf("isoWeek").format("DD/MM"),
    };
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#title {
    margin:auto
}

#date {
    margin: auto;
    color: #fff300;
}

</style>
